<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Müzik Tür Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>

<form method="POST" action="muzikTurEkle">
        <div class="field">
                <label class="label" >Muzik Tür Adı</label>
                <div class="control">
                  <input class="input" type="text" name="muzikTurAdi" placeholder="Muzik Tür Adı">
                </div>
              </div>
              <div style="margin-top:15px;" class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Ekle</button>
                </div>
                <div class="control">
                  <a href="muziktur" class="button is-text">İptal</a>
                </div>
              </div>
</form>